@model List<MyMovies1.Models.Movie>;

@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

@*<div class="row">
    <form asp-controller="Movies" asp-action="Overview">
        <div class="form-group">
            <input name="Title" value="" id="title" class="form-control" placeholder="Search" />
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>*@

<div class="row">
    @foreach (var movie in @Model)
    {
        <div class="col-md-4">
            <div class="card" style="margin-top:20px;height:100%;">
                <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">@movie.Description</p>
                    <a href="/Movies/Details/@movie.Id" class="btn btn-primary">See more</a>

                </div>
            </div>
        </div>
    }
</div>

